---
---

$hero: url("images/hero/hero1.png");

@import "cuatro-theme";

#address {
	white-space: pre;
}


.associate-container {
	display: flex;
	justify-content: space-around;

	@media screen and (max-width: $screen_medium) {
		display: block;
		text-align: center;
	}
}